
<h1><%= @map.name %> </h1>

<section>
  <%= @map.desc %>
</section>

<section>
  <h3> Rooms </h3>
  <% @map.rooms.each do |room| %>
    <div class = "room-link">
      <%=link_to room.name, room %>
    </div>
  <% end %>

  <% if @room %>
    <%= bootstrap_form_for @room, url: new_room_path do |f| %>
       <%= f.hidden_field :map_id, value: @map.id %>

          <div class="field">
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.text_field :short_desc %>
          </div>
          <div class="field">
            <%= f.text_area :full_desc %>
          </div>
        <div class="actions"><%= f.submit  %></div>
    <% end %>
  <% else %>
    <%= button_to "Add a Room", new_room_path, method: :get %>
  <% end %>
</section>
