<h1> Create An Account </h1>

<%= bootstrap_form_for @user, url: new_user_path do |f| %> <!-- form_for user model -->

      <div class="field">
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation %>
      </div>
    <div class="actions"><%= f.submit  %></div>
<% end %>
