<h1> Welcome! </h1>

<% if current_user %>
You are logged in as <% current_user.name %>.
Sign out.

<% else %>

<section>

    You are not currently logged in. Please log in!

    <%= bootstrap_form_tag do %>
      <%= label_tag :username %>
      <%= text_field_tag :name %>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <%= submit_tag "Log In" %>
    <% end %>
</section>

<% button_to "Create an Account", sign_up_path, method: get %>

<% end %>
