<h1> Welcome! </h1>

<% if current_user %>
You are logged in as <%= current_user.name %>.
<%= button_to "Log out", logout_path %>

<% else %>

<section>

    You are not currently logged in. Please log in!

    <%= bootstrap_form_tag url: login_path do |f| %>
    <%= f.text_field :name %>
    <%= f.password_field :password %>
    <%= f.submit "Log In" %>

    <% end %>
</section>

<%= button_to "Create an Account", new_user_path, method: :get %>

<% end %>
